.petsDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(173, 173, 173);
    padding: 1rem;
}
